@{
    ViewBag.Title = "Comments";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<head>

    <script src="../../Scripts/LikeABus/comments.js"></script>
</head>
<body>
    <div id="comment-box" class="jumbotron">  

        
</div>
</body>
