@{
    ViewBag.Title = "Comments";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../Scripts/LikeABus/comments.js">

    
    </script>
</head>
<body>
<div id="comment-box" class="jumbotron">
    <h2>@ViewBag.Title</h2>


</div>
</body>
