@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Say Something about the bus</p>
    <p><a href="~/Home/Selection" class="btn btn-primary btn-lg">Get my location</a>
    </p>
    
    
    <!--
        <p><a class="btn btn-default" href="~/Home/Comments">See results</a>
    
    <p id="Testing">Testing</p>
    <button type="button" onclick="document.getElementById('Testing').innerHTML = sessionStorage.getItem('busID')">Click Me!</button>
        -->
</div>
