@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Have something to say about public transport?</p>
    <p><a href="~/Home/Selection" class="btn btn-primary btn-lg">Comment</a>
    </p>
    <p><a class="btn btn-default" href="~/Home/Comments">See results</a>


</div>
