
@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>
 
<p id="busInfo">Empty, press the Find My Bus</p>

<button type="button" onclick="document.getElementById('busInfo').innerHTML = 'Updated stuff'">Click Me!</button>
